.background {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(117, 90, 145, 1) 60%,
    rgba(137, 120, 155, 1) 100%
  );
}

.location-container {
  width: 100%;
  padding: 40px;
  position: relative;
}

.opening-date-container {
  position: absolute;
  top: 10px;
  right: -170px;
  animation-name: spin;
  animation-duration: 25000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.opening-date-text {
  position: absolute;
  top: 65px;
  right: -142.5px;
  text-align: center;
  font-weight: bold;
  color: brown;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

.h-12 {
  height: 100%;
}

.h-8 {
  height: 55%;
}

.h-6 {
  height: 50%;
}

.h-4 {
  height: 45%;
}

.accordion-container {
  margin: 40px;
}

:host ::ng-deep .p-accordion-header > a {
  background-color: transparent !important;
  border: solid rgb(60, 143, 217) 1px;
  border-bottom: none;
  color: yellow;
}

:host ::ng-deep .p-accordion > .p-element:last-child {
  a {
    border: solid rgb(60, 143, 217) 1px;
  }
}

:host ::ng-deep .p-accordion-content {
  background-color: transparent !important;
  border: solid rgb(60, 143, 217) 1px;
  color: yellow;
  border-bottom: none;
}

:host ::ng-deep .p-accordion > .p-element:last-child {
  .p-accordion-content {
    background-color: transparent !important;
    border: solid rgb(60, 143, 217) 1px;
    color: yellow;
    border-top: none;
  }
}

.no-dot-list {
  list-style: none;
}

#jadoreLink {
  border: none;
  color: orange;
  text-decoration: none;
}

#jadoreLink:hover {
  color: orangered;
}

ul {
  list-style-type: circle;
}

.carousel-image {
  object-fit: cover;
}

.pareri {
  height: min(50vh, 66vw);
  width: min(50vh, 66vw);
}

:host ::ng-deep .p-carousel-prev {
  path {
    fill: yellow;
  }

}

:host ::ng-deep .p-carousel-next {
  path {
    fill: yellow;
  }
}

:host ::ng-deep .p-carousel .p-carousel-content .p-carousel-prev:enabled:hover {
  background-color: #9C27B0;
}

:host ::ng-deep .p-carousel .p-carousel-content .p-carousel-next:enabled:hover {
  background-color: #9C27B0;
}

:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: #9C27B0;
  transform:scale(1);
}

:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
  background-color: pink;
  transform:scale(0.5);
}

:host ::ng-deep .contact-container {
  .p-card {
    background-color: pink;
    box-shadow: 5px 5px 5px rgb(76, 57, 96);
  }
}
