.background {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(117, 90, 145, 1) 60%,
    rgba(137, 120, 155, 1) 100%
  );
}

.location-container {
  width: 100%;
  padding: 40px;
  position: relative;
}

.opening-date-container {
  position: absolute;
  top: 10px;
  right: -170px;
  animation-name: spin;
  animation-duration: 25000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.opening-date-text {
  position: absolute;
  top: 62.5px;
  right: -142.5px;
  text-align: center;
  font-weight: bold;
  color: brown;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

.near-map-text {
  font-size: 4vw;
  font-weight: bolder;
  font-family: Brush Script MT, Brush Script Std, cursive;
  color: orange;
  -webkit-text-stroke: 3px yellow;
}

.h-8 {
  height: 55%;
}

.h-4 {
  height: 45%;
}

.accordion-container {
  margin: 40px;
}

:host ::ng-deep .p-accordion-header > a {
  background-color: transparent !important;
  border: solid rgb(60, 143, 217) 1px;
  border-bottom: none;
  color: yellow;
}

:host ::ng-deep .p-accordion > .p-element:last-child {
  a {
    border: solid rgb(60, 143, 217) 1px;
  }
}

:host ::ng-deep .p-accordion-content {
  background-color: transparent !important;
  border: solid rgb(60, 143, 217) 1px;
  color: yellow;
  border-bottom: none;
}

:host ::ng-deep .p-accordion > .p-element:last-child {
  .p-accordion-content {
    background-color: transparent !important;
    border: solid rgb(60, 143, 217) 1px;
    color: yellow;
    border-top: none;
  }
}
