#mainContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(
    135deg,
    rgba(117, 90, 145, 1) 60%,
    rgba(137, 120, 155, 1) 100%
  );
}

.displayed-page {
  width: 70%;
  height: calc(100vh - 160px);
  overflow-x: hidden;
  overflow-y: scroll;
}

// @media only screen and (max-width: 767px) {
//   .displayed-page {
//     width: 100%;
//   }
//   app-side-background {
//     width: 0%;
//     visibility: hidden;
//   }
// }

app-side-background {
  width: 15%;
}


