.menu-container {
  position: relative;
  background: rgb(144, 30, 255);
  // background: linear-gradient(
  //   180deg,
  //   rgba(107, 34, 195, 1) 0%,
  //   rgba(156, 39, 176, 1) 70%,
  //   rgba(176, 101, 39, 1) 100%
  // );
  height: 160px;
}

.menu-social-media-container {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

a {
  color: black;
}

a:hover {
  color: blue;
}

.logo {
  position: absolute;
  left: 0px;
}

.logo:hover {
  cursor: pointer;
}

.clouds-container {
  position: absolute;
  left: 0;
  bottom: -32px;
  z-index: 1;
}

.menu {
  font-size: 2.5rem;
  color: yellow;
  font-weight: 500;
  display: flex;
  gap: 50px;
  align-items: center;

  a {
    color: yellow;
    text-decoration: none;
  }

  a:hover {
    font-style: italic;
    cursor: pointer;
  }
}
