<div class="menu-container flex justify-content-center">
  <img
    src="/assets/images/logos/Logo_BotName_Yellow_TransparentBackground.png"
    height="160"
    routerLink="/"
    class="logo"
  />
  <div class="menu">
    <div>
      <a href="/despre-noi"
        ><i
          class="pi pi-fw pi-users"
          style="font-size: 2rem; margin-right: 5px"
        ></i
        >Despre Noi</a
      >
    </div>
    <div>
      <a href="/evenimente"
        ><i
          class="pi pi-fw pi-calendar"
          style="font-size: 2rem; margin-right: 5px"
        ></i
        >Evenimente</a
      >
    </div>
  </div>
  <div class="collapsable-menu">
    <p-button
      icon="pi pi-bars"
      [rounded]="true"
      size="large"
      (click)="openMenu()"
    />
    <div class="popup-menu-container" (click)="closeMenu()">
      <div class="popup-menu">
        <div>
          <a routerLink="/"
            ><i
              class="pi pi-fw pi-home"
              style="font-size: 3rem; margin-right: 5px"
            ></i
            >Acasă</a
          >
        </div>
        <div>
          <a href="/despre-noi"
            ><i
              class="pi pi-fw pi-users"
              style="font-size: 3rem; margin-right: 5px"
            ></i
            >Despre Noi</a
          >
        </div>
        <div>
          <a href="/evenimente"
            ><i
              class="pi pi-fw pi-calendar"
              style="font-size: 3rem; margin-right: 5px"
            ></i
            >Evenimente</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="menu-social-media-container">
    <a href="https://www.instagram.com" target="_blank" class="instagram-icon">
      <i class="pi pi-fw pi-instagram" style="margin-right: 5px"></i
    ></a>
    <a
      href="https://www.facebook.com/profile.php?id=100094602287075"
      target="_blank"
      class="facebook-icon"
      ><i class="pi pi-fw pi-facebook"></i
    ></a>
  </div>
  <div class="clouds-container">
    <img src="/assets/images/PurpleClouds.png" />
  </div>
</div>
