.menu-container {
  position: relative;
  background: rgb(76, 22, 139);
  // background: linear-gradient(
  //   180deg,
  //   rgba(107, 34, 195, 1) 0%,
  //   rgba(156, 39, 176, 1) 70%,
  //   rgba(176, 101, 39, 1) 100%
  // );
  height: 160px;
}

.menu-social-media-container {
  position: absolute;
  right: 10px;
  bottom: 10px;
  .pi {
    font-size: 40px;
  }

  a {
    font-size: 40px;
  }
}

a {
  color: black;
}

.instagram-icon:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 95%
  );

  background-size: 40px;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.facebook-icon:hover {
  color: blue;
}

.logo {
  position: absolute;
  left: 0px;
}

.logo:hover {
  cursor: pointer;
}

.clouds-container {
  position: absolute;
  left: 0;
  bottom: -32px;
  z-index: 1;
}

.menu {
  font-size: 2.5rem;
  color: yellow;
  font-weight: 500;
  display: flex;
  gap: 50px;
  align-items: center;

  a {
    color: yellow;
    text-decoration: none;
  }

  a:hover {
    font-style: italic;
    cursor: pointer;
  }
}
