<div class="menu-container flex justify-content-center">
  <img
    src="/assets/images/logos/Logo_BotName_Yellow_TransparentBackground.png"
    height="160"
    routerLink="/"
    class="logo"
  />
    <p-menubar [model]="items" class="align-self-center"></p-menubar>
  <div class="menu-social-media-container">
    <i
      class="pi pi-fw pi-instagram"
      style="font-size: 2rem; margin-right: 5px"
    ></i>
    <a
      href="https://www.facebook.com/profile.php?id=100094602287075"
      target="_blank"
      ><i class="pi pi-fw pi-facebook" style="font-size: 2rem"></i
    ></a>
  </div>
</div>
