<div id="homeContainer">
  <div
    id="carouselContainer"
    (mousedown)="startCarousel($event)"
    (mouseleave)="stopCarousel()"
    (mouseup)="stopCarousel()"
  >
    <div id="unclickableCoat"></div>
    <div
      id="childrenCarousel"
      class="flex"
      data-mouse-down-at="0"
      data-prev-percentage="0"
    >
      <img
        src="/assets/images/sample/kid1.jpg"
        draggable="false"
        class="carouselImage"
      />
      <img
        src="/assets/images/sample/kid2.jpg"
        draggable="false"
        class="carouselImage"
      />
      <img
        src="/assets/images/sample/kid3.jpg"
        draggable="false"
        class="carouselImage"
      />
      <img
        src="/assets/images/sample/kid1.jpg"
        draggable="false"
        class="carouselImage"
      />
      <img
        src="/assets/images/sample/kid2.jpg"
        draggable="false"
        class="carouselImage"
      />
      <img
        src="/assets/images/sample/kid3.jpg"
        draggable="false"
        class="carouselImage"
      />
      <img
        src="/assets/images/sample/kid1.jpg"
        draggable="false"
        class="carouselImage"
      />
      <img
        src="/assets/images/sample/kid2.jpg"
        draggable="false"
        class="carouselImage"
      />
      <img
        src="/assets/images/sample/kid3.jpg"
        draggable="false"
        class="carouselImage"
      />
      <img
        src="/assets/images/sample/kid1.jpg"
        draggable="false"
        class="carouselImage"
      />
    </div>
  </div>
</div>
