#homeContainer {
  width: 70%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(117, 90, 145, 1) 60%,
    rgba(137, 120, 155, 1) 100%
  );
}

app-side-background {
  width: 15%;
}

#carouselContainer {
  width: 100%;
  height: 48vmin;
  position: relative;
  overflow: hidden;
}

#childrenCarousel {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translate(0%, -50%);
  img {
    width: 50vmin;
    height: 40vmin;
    object-fit: cover;
    object-position: 50% 50%;
    pointer-events: none;
    user-select: none;
  }
  .flex {
    background-color: black;

    gap: 4vmin;
  }
}

#unclickableCoat {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.film-band {
  height: 4vmin;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.film-band-hole {
  background-color: white;
  height: 2vmin;
  width: 2vmin;
}

:host ::ng-deep .main-card {
  margin: 40px;
  width: 75%;

  .p-card {
    background-color: pink;
    box-shadow: 10px 10px 10px rgb(76, 57, 96);
  }

  .p-card-content {
    display: flex;
    gap: 16px;
    padding: 0;
  }

  .icon-div {
    width: 100px;
    height: 100px;

    img {
      width: 100%;
      height: 100%;
    }

    .p-card {
      background-color: rgb(117, 90, 145);
      margin: 0;
      height: 100px;
      width: 100px;
      box-shadow: none;
    }
  }

  .text-div {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
}

:host ::ng-deep .main-card.reverse {
  margin: 40px;
  width: 75%;

  .p-card {
    background-color: pink;
  }

  .p-card-content {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    padding: 0;
  }

  .icon-div {
    width: 100px;
    height: 100px;

    img {
      width: 100%;
      height: 100%;
    }

    .p-card {
      background-color: rgb(117, 90, 145);
      margin: 0;
      height: 100px;
      width: 100px;
    }
  }

  .text-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 1;
  }
}
